<%= form_for @well do |w| %>

  <% if @well.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@well.errors.count, "error") %> impiden guardar esta unidad de negocio:
      </h2>
      <ul>
        <% @well.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= w.label :Nombre %><br>
    <%= w.text_field :name %>
  </p>

  <p>
    <%= w.label :Profundidad %><br>
    <%= w.number_field :depth %>
  </p>

  <p>
    <%= w.label 'Ãrea' %><br>
    <%= w.select(:area_id, Area.all.collect{|a| [ a.name, a.id] })%>
  </p>

  <p>
    <%= w.label 'Yacimiento' %><br>
    <%= w.select(:field_id, Field.all.collect{|f| [ f.name, f.id] })%>
  </p>

  <p>
    <%= w.submit %>
  </p>

<% end %>