<%= form_for @field do |f| %>

  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@field.errors.count, "error") %> impiden guardar este yacimiento:
      </h2>
      <ul>
        <% @field.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>